.about-outer-div {
  color: black;
}

.about-outer-div h1 {
  font-weight: bold;
}

.about-inner-div {
  display: flex;
  flex-direction: column;
}

/* Responsive Grid for Larger Screens */
@media (min-width: 1024px) {
  .about-inner-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Cup Animation Responsiveness */
#cup-container {
  transform: scale(0.9); /* Default smaller scale for mobile */
}

@media (min-width: 768px) {
  #cup-container {
    transform: scale(1);
  }
}
