.about-outer-div {
  /* background-color: white; */
  color: black;
}

.about-outer-div h1 {
  font-weight: bold;
}

.about-outer-div hr {
  color: #128781;
  width: 400px;
  margin: 10px auto;
}

.about-inner-div {
  margin-left: 220px;
  margin-right: 200px;
  /* display: flex;
  flex-direction: column; */
}

.first-line {
  font-size: 30px;
  font-weight: bold;
}

.para-content {
  width: fit-content;
}

.para-content p {
  color: grey;
}

.about-me-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
/* 
@media screen and (max-width: 1440px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-inner-div {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .about-outer-div {
    margin-right: -240px;
  }

  .about-inner-div {
    margin: 50px;
  }
} */

/* @media screen and (max-width: 425px) {
  .about-inner-div {
    margin: 100px;
  }
} */

@media screen and (max-width: 1300px) {
  .about-me-content {
    grid-template-columns: 1fr;
  }
}


/* cup css */
#cup-container {
  padding: 55px 10px 10px 54px;
}

.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #807c7c;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 200px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: #ca3232;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 300px;
  width: 200px;
  background-color: #ea7272;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 75px;
  width: 80px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #5d4141;
  margin-bottom: 95px;
  margin-left: 250px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 30px;
  width: 300px;
  border-radius: 0 0 100px 100px;
  background-color: #302a2a;
  margin-top: 1px;
  margin-left: 5px;
  z-index: 2;
}

#shadow {
  height: 10px;
  width: 300px;
  border-radius: 50%;
  margin-top: -5px;
  margin-left: 6px;
  background-color: #afb4b5;
}
/* cup css ends */