.project-card-div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-thumbnail {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-thumbnail img {
    border-radius: 20px;
    transition: width 0.5s, height 0.5s;
    border: 1px solid black;
}

.project-thumbnail img:hover {
    /* transform: scale(1.5); */
    width: 110%;
    /* overflow: visible; */
}

/* .project-card-div:hover {
    border-
} */

.project-title {
    font-size: 30px;
    font-weight: bold;
}

.project-stack {
    /* display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, auto);
    row-gap: 5px;
    
}

.tech {
    border: 2px solid black;
    border-radius: 20px;
    width: 125px;
    padding: 5px;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech:hover {
    background-color: #BBB5BD;
    transition: 0.3s;
}

.buttons {
    display: flex;
    gap: 10px;
}


/* @media (max-width: 1200px) {
    .project-card-div {
        grid-template-columns: 1fr;
    }
    .project-stack {
        display: flex;
        flex-wrap: wrap;
    }
} */